* {
  margin: 0px;
  padding: 0px; }

@font-face {
  font-family: 'Montserrat Light';
  src: url("../fonts/Montserrat-Light.eot");
  src: url("Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Raleway Regular';
  src: url("../fonts/Raleway-Regular.eot");
  src: url("../fonts/Raleway-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Raleway Medium';
  src: url("../fonts/Raleway-Medium.eot");
  src: url("../fonts/Raleway-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Medium.woff") format("woff"), url("../fonts/Raleway-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Raleway Extra Bold';
  src: url("../fonts/Raleway-ExtraBold.eot");
  src: url("../fonts/Raleway-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-ExtraBold.woff") format("woff"), url("../fonts/Raleway-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat Extra Light';
  src: url("../fonts/Montserrat-ExtraLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

* {
  margin: 0px;
  padding: 0px; }

.firstPage {
  display: inline-block;
  width: 100%; }
  .firstPage .firstPageContainer {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column; }
    .firstPage .firstPageContainer .mainPageGalery {
      display: inline-block;
      width: 100%;
      position: absolute;
      top: 0%;
      z-index: -1; }
      .firstPage .firstPageContainer .mainPageGalery img {
        width: 100%;
        -webkit-transition: 10ms;
        -o-transition: 10ms;
        transition: 10ms; }
    .firstPage .firstPageContainer .logo-container, .firstPage .firstPageContainer .right-container, .firstPage .firstPageContainer .center-Container {
      background-color: rgba(0, 0, 0, 0);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .firstPage .firstPageContainer .logo-container {
      width: 20%; }
    .firstPage .firstPageContainer .center-Container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      width: 60%;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
    .firstPage .firstPageContainer .right-container {
      width: 7%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .firstPage .firstPageContainer .right-container .busketImg {
        width: 100%; }
    .firstPage .firstPageContainer .container {
      width: 70%;
      margin-top: 1%;
      margin-bottom: 1%;
      background-color: rgba(0, 0, 0, 0);
      z-index: 2;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .firstPage .firstPageContainer .container .nav-item {
        color: #f3f3f3;
        font-family: 'Montserrat Light', sans-serif;
        font-size: 10pt; }
        .firstPage .firstPageContainer .container .nav-item #emptySpace {
          -ms-flex-preferred-size: 160px;
          flex-basis: 160px;
          -ms-flex-negative: 0;
          flex-shrink: 0; }
      .firstPage .firstPageContainer .container .nav-item-text-logo {
        color: #f3f3f3;
        font-family: 'Montserrat Light', sans-serif;
        font-size: 24pt;
        vertical-align: middle; }
    .firstPage .firstPageContainer .radiobar {
      margin-bottom: 7%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-top: 7%;
      width: 4%;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row;
      flex-flow: row;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end; }
      .firstPage .firstPageContainer .radiobar .galery-radio {
        padding-right: 3%; }
    .firstPage .firstPageContainer .mainBlock {
      width: 100%;
      margin-top: 10%;
      margin-bottom: 10%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .firstPage .firstPageContainer .mainBlock #left_arrow, .firstPage .firstPageContainer .mainBlock #right_arrow {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0);
        font-family: 'Montserrat Light', sans-serif;
        font-size: 52pt;
        color: rgba(255, 255, 255, 0.3);
        border: none; }
      .firstPage .firstPageContainer .mainBlock .text-container {
        width: 60%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .firstPage .firstPageContainer .mainBlock .text-container .text-item-first {
          color: #ffffff;
          font-family: 'Raleway Medium', sans-serif;
          font-size: 22pt; }
        .firstPage .firstPageContainer .mainBlock .text-container .text-item-second {
          color: #ffffff;
          font-family: 'Raleway Extra Bold', sans-serif;
          font-size: 36pt; }
        .firstPage .firstPageContainer .mainBlock .text-container .text-item-third {
          text-align: center;
          color: #ffffff;
          font-family: 'Montserrat Light', sans-serif;
          font-size: 10pt; }
        .firstPage .firstPageContainer .mainBlock .text-container .getStarted {
          margin-top: 4%;
          background-color: #928575;
          color: #ffffff;
          -webkit-box-shadow: none;
          box-shadow: none;
          border: 0px;
          border-bottom-style: 3px solid grey;
          width: 140px;
          height: 33px;
          font-family: 'Raleway Extra Bold', sans-serif;
          font-size: 8pt;
          border-radius: 3px; }

.secondPageUpperContainer {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  margin-left: 20%;
  margin-bottom: 3%;
  margin-top: 3%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .secondPageUpperContainer .block1, .secondPageUpperContainer .block2, .secondPageUpperContainer .block3, .secondPageUpperContainer .block4 {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-family: 'Montserrat Light', sans-serif;
    font-size: 8pt; }
    .secondPageUpperContainer .block1 h4, .secondPageUpperContainer .block2 h4, .secondPageUpperContainer .block3 h4, .secondPageUpperContainer .block4 h4 {
      font-family: 'Raleway Extra Bold', sans-serif;
      font-size: 14pt; }
    .secondPageUpperContainer .block1 .SecondPageIcon, .secondPageUpperContainer .block2 .SecondPageIcon, .secondPageUpperContainer .block3 .SecondPageIcon, .secondPageUpperContainer .block4 .SecondPageIcon {
      height: 44px; }

.secondPageMiddleContainer {
  display: inline-block;
  width: 100%;
  margin: 0%;
  background-color: #fbfaf8; }
  .secondPageMiddleContainer .block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    vertical-align: middle; }
  .secondPageMiddleContainer .upBlock {
    display: inline-block;
    width: 60%;
    margin-right: 20%; }
    .secondPageMiddleContainer .upBlock .text {
      vertical-align: middle;
      text-align: center;
      font-family: 'Montserrat Light', sans-serif;
      font-size: 8pt; }
      .secondPageMiddleContainer .upBlock .text h4 {
        font-family: 'Montserrat Light', sans-serif;
        font-size: 16pt; }
  .secondPageMiddleContainer .downBlock {
    display: inline-block;
    width: 60%;
    margin-right: 20%; }
    .secondPageMiddleContainer .downBlock .browsers {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end; }
      .secondPageMiddleContainer .downBlock .browsers #leftBrowserImg {
        width: 62%;
        z-index: 2;
        position: relative;
        left: 43%; }
      .secondPageMiddleContainer .downBlock .browsers #centerBrowserImg {
        width: 62%;
        position: relative;
        z-index: 4; }
      .secondPageMiddleContainer .downBlock .browsers #rightBrowserImg {
        width: 62%;
        z-index: 3;
        position: relative;
        right: 43%; }

.secondPageBottomContainer {
  background: -webkit-gradient(linear, left top, right top, from(#1e1b1a), to(#49372c));
  background: -webkit-linear-gradient(left, #1e1b1a, #49372c);
  background: -o-linear-gradient(left, #1e1b1a, #49372c);
  background: linear-gradient(to right, #1e1b1a, #49372c);
  height: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .secondPageBottomContainer .subContainer {
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: black; }
    .secondPageBottomContainer .subContainer .text {
      text-align: center;
      font-family: 'Montserrat Light', sans-serif;
      font-size: 8pt;
      color: #5f5856; }
      .secondPageBottomContainer .subContainer .text h4 {
        font-family: 'Montserrat Light', sans-serif;
        font-size: 16pt;
        color: white; }
        .secondPageBottomContainer .subContainer .text h4 span {
          color: #5f5856; }
    .secondPageBottomContainer .subContainer .purchaseNow {
      margin-top: 4%;
      background-color: #928575;
      color: #ffffff;
      -webkit-box-shadow: none;
      box-shadow: none;
      border: 0px;
      border-bottom-style: 3px solid grey;
      width: 140px;
      height: 33px;
      font-family: 'Raleway Extra Bold', sans-serif;
      font-size: 8pt;
      border-radius: 3px; }

.thirdPageContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .thirdPageContainer .thirdPageUpperContainer {
    width: 33%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .thirdPageContainer .thirdPageUpperContainer .text {
      text-align: center;
      font-family: 'Montserrat Light', sans-serif;
      font-size: 8pt;
      color: #5f5856; }
      .thirdPageContainer .thirdPageUpperContainer .text h4 {
        font-family: 'Montserrat Light', sans-serif;
        font-size: 16pt;
        color: white; }
        .thirdPageContainer .thirdPageUpperContainer .text h4 span {
          color: #5f5856; }
    .thirdPageContainer .thirdPageUpperContainer .text h4 {
      color: black; }
  .thirdPageContainer .thirdPageButtonsBarContainer {
    width: 30%;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .thirdPageContainer .thirdPageButtonsBarContainer .button {
      background-color: white;
      border: 1px solid #ebebeb;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 2px;
      color: #938575;
      font-family: 'Montserrat Light', sans-serif;
      font-size: 10pt; }
    .thirdPageContainer .thirdPageButtonsBarContainer .button:hover {
      background-color: #938575;
      border: 1px solid #ebebeb;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 2px;
      color: white;
      font-family: 'Montserrat Light', sans-serif;
      font-size: 10pt; }
  .thirdPageContainer .thirdPageGallery {
    display: inline-block;
    width: 65%;
    margin: 0; }
    .thirdPageContainer .thirdPageGallery .blockContainer {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -ms-flex-line-pack: stretch;
      align-content: stretch; }
      .thirdPageContainer .thirdPageGallery .blockContainer .galleryImg {
        margin-bottom: 5%;
        width: 30%;
        background-color: white; }
        .thirdPageContainer .thirdPageGallery .blockContainer .galleryImg img {
          width: 100%; }
        .thirdPageContainer .thirdPageGallery .blockContainer .galleryImg .block {
          width: 100%;
          padding: 10%, 0, 10%, 0;
          background-color: #fbfaf8;
          color: #bfb098;
          text-align: center;
          font-family: 'Montserrat Light', sans-serif;
          font-size: 10pt; }
          .thirdPageContainer .thirdPageGallery .blockContainer .galleryImg .block h5 {
            font-family: 'Raleway Medium', sans-serif;
            font-size: 14pt; }
      .thirdPageContainer .thirdPageGallery .blockContainer .galleryImg:hover {
        background-color: #000000; }
        .thirdPageContainer .thirdPageGallery .blockContainer .galleryImg:hover img {
          opacity: 0.8; }
        .thirdPageContainer .thirdPageGallery .blockContainer .galleryImg:hover .block {
          background-color: #373331;
          color: #bfb098; }
          .thirdPageContainer .thirdPageGallery .blockContainer .galleryImg:hover .block h5 {
            color: white; }
  .thirdPageContainer .thirdPageBottomContainer {
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: stretch;
    align-content: stretch; }
    .thirdPageContainer .thirdPageBottomContainer .thirdPageButton {
      margin-top: 4%;
      background-color: #928575;
      color: #ffffff;
      -webkit-box-shadow: none;
      box-shadow: none;
      border: 0px;
      border-bottom-style: 3px solid grey;
      width: 140px;
      height: 33px;
      font-family: 'Raleway Extra Bold', sans-serif;
      font-size: 8pt;
      border-radius: 3px; }

.fourthPageContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative; }
  .fourthPageContainer .textVideoContainer {
    position: absolute;
    z-index: 2;
    top: 50%;
    right: 50%;
    -webkit-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    font-family: 'Raleway Extra Bold', sans-serif;
    font-size: 36pt;
    color: white; }

.fifthPageContainer {
  display: inline-block;
  width: 70%;
  margin-left: 15%; }
  .fifthPageContainer .block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    position: relative;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .fifthPageContainer .block .fifthPageImg {
      width: 45%; }
      .fifthPageContainer .block .fifthPageImg img {
        width: 100%; }
    .fifthPageContainer .block .fifthPageText {
      width: 55%;
      font-family: 'Montserrat Light', sans-serif;
      font-size: 12pt; }
      .fifthPageContainer .block .fifthPageText h5 {
        font-family: 'Montserrat Light', sans-serif;
        font-size: 24pt;
        color: black; }
      .fifthPageContainer .block .fifthPageText ul {
        list-style-image: url(https://lh3.googleusercontent.com/qenmftUKhcPtbQspCKK9R85HG6zDIn-lp0XuXD4mdb3ZI3BTymB8e1rzmzG3YlUauRgf9Qg=s21); }
        .fifthPageContainer .block .fifthPageText ul li {
          margin-bottom: 1%;
          margin-left: 5%; }

.fifthPageFooter {
  display: inline-block;
  width: 100%; }
  .fifthPageFooter .blockContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: -webkit-gradient(linear, left top, right top, from(#1e1b1a), to(#49372c));
    background: -webkit-linear-gradient(left, #1e1b1a, #49372c);
    background: -o-linear-gradient(left, #1e1b1a, #49372c);
    background: linear-gradient(to right, #1e1b1a, #49372c); }
    .fifthPageFooter .blockContainer .block {
      padding: 15%, 0, 15%, 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 15%;
      font-family: 'Raleway Extra Bold', sans-serif;
      font-size: 8pt;
      color: #bfb098; }
      .fifthPageFooter .blockContainer .block .top {
        padding-top: 20%; }
      .fifthPageFooter .blockContainer .block .bottom {
        padding-bottom: 20%; }
      .fifthPageFooter .blockContainer .block h5 {
        font-family: 'Montserrat Light', sans-serif;
        font-size: 26pt;
        font-weight: 100;
        color: white; }

.sixthPage {
  display: inline-block;
  width: 100%;
  padding: 0px;
  margin: 0px; }
  .sixthPage .sixthPageContainer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0px;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .sixthPage .sixthPageContainer .sixthPageTextContainer {
      margin-top: 5%;
      margin-bottom: 5%;
      width: 50%;
      text-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column;
      flex-flow: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      font-family: 'Montserrat Light', sans-serif;
      font-size: 12pt;
      color: #8c8c8c; }
      .sixthPage .sixthPageContainer .sixthPageTextContainer h5 {
        font-family: 'Raleway Extra Bold', sans-serif;
        font-size: 20pt;
        color: black; }
    .sixthPage .sixthPageContainer .sixthPagePostsContainer {
      margin-bottom: 5%;
      width: 70%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .sixthPage .sixthPageContainer .sixthPagePostsContainer .block:hover {
        background-color: black; }
        .sixthPage .sixthPageContainer .sixthPagePostsContainer .block:hover .blockImg {
          opacity: 0.6; }
        .sixthPage .sixthPageContainer .sixthPagePostsContainer .block:hover .blockText {
          background-color: #373331; }
          .sixthPage .sixthPageContainer .sixthPagePostsContainer .block:hover .blockText h4 {
            color: #bfb098; }
          .sixthPage .sixthPageContainer .sixthPagePostsContainer .block:hover .blockText h5 {
            color: white; }
          .sixthPage .sixthPageContainer .sixthPagePostsContainer .block:hover .blockText h6 {
            color: #bfb098; }
      .sixthPage .sixthPageContainer .sixthPagePostsContainer .block {
        padding: 0px;
        margin: 0px;
        background-color: white;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        width: 30%;
        border: 1px lightgray solid;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start; }
        .sixthPage .sixthPageContainer .sixthPagePostsContainer .block .blockUpper {
          position: relative;
          padding: 0px; }
          .sixthPage .sixthPageContainer .sixthPagePostsContainer .block .blockUpper img {
            width: 100%; }
          .sixthPage .sixthPageContainer .sixthPagePostsContainer .block .blockUpper .calendar {
            position: absolute;
            left: 15px;
            top: 15px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-flow: column;
            flex-flow: column;
            border-radius: 5px;
            color: white; }
            .sixthPage .sixthPageContainer .sixthPagePostsContainer .block .blockUpper .calendar .bg1 {
              position: relative;
              -webkit-filter: grayscale(100%);
              filter: grayscale(100%); }
              .sixthPage .sixthPageContainer .sixthPagePostsContainer .block .blockUpper .calendar .bg1 .date {
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); }
            .sixthPage .sixthPageContainer .sixthPagePostsContainer .block .blockUpper .calendar .bg2 {
              position: relative;
              -webkit-filter: grayscale(100%);
              filter: grayscale(100%); }
              .sixthPage .sixthPageContainer .sixthPagePostsContainer .block .blockUpper .calendar .bg2 .month {
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); }
        .sixthPage .sixthPageContainer .sixthPagePostsContainer .block .blockText {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-flow: column;
          flex-flow: column;
          -ms-flex-pack: distribute;
          justify-content: space-around;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          background-color: white;
          padding: 5%; }
          .sixthPage .sixthPageContainer .sixthPagePostsContainer .block .blockText h4 {
            font-family: 'Raleway Medium', sans-serif;
            font-size: 14pt;
            color: black; }
          .sixthPage .sixthPageContainer .sixthPagePostsContainer .block .blockText h5 {
            font-family: 'Montserrat Light', sans-serif;
            font-size: 10pt;
            color: #8c8c8c; }
          .sixthPage .sixthPageContainer .sixthPagePostsContainer .block .blockText h6 {
            font-family: 'Montserrat Light', sans-serif;
            font-size: 10pt;
            color: #bfb098; }
          .sixthPage .sixthPageContainer .sixthPagePostsContainer .block .blockText .arrow {
            width: 40%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
            -ms-flex-pack: distribute;
            justify-content: space-around; }
    .sixthPage .sixthPageContainer .sixthPageButtonsContainer {
      margin-bottom: 5%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row;
      flex-flow: row;
      width: 5%;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .sixthPage .sixthPageContainer .sixthPageButtonsContainer .right {
        opacity: 0.6; }
      .sixthPage .sixthPageContainer .sixthPageButtonsContainer .left {
        opacity: 0.6; }
  .sixthPage .sixthPageFooter {
    display: inline-block;
    width: 100%;
    margin: 0px;
    padding: 0px; }
    .sixthPage .sixthPageFooter .sixthPageBottomContainer {
      background-color: #1f1f1f;
      display: inline-block;
      position: relative;
      padding-bottom: 0px;
      margin-bottom: 0px; }
      .sixthPage .sixthPageFooter .sixthPageBottomContainer img {
        width: 100%; }
      .sixthPage .sixthPageFooter .sixthPageBottomContainer .logoContainer {
        width: 70%;
        margin-right: 15%;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .sixthPage .sixthPageFooter .sixthPageBottomContainer .logoContainer div {
          text-align: center; }
          .sixthPage .sixthPageFooter .sixthPageBottomContainer .logoContainer div img {
            width: 60%; }

.footer {
  display: inline-block;
  width: 100%;
  padding: 0px;
  background-color: #1f1f1f; }
  .footer .footerContainer {
    margin-top: 2%;
    margin-bottom: 2%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    width: 70%;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-left: 15%; }
    .footer .footerContainer .block1, .footer .footerContainer .block2, .footer .footerContainer .block3 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column;
      flex-flow: column;
      width: 22%;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .footer .footerContainer .block1 .container1, .footer .footerContainer .block2 .container1, .footer .footerContainer .block3 .container1 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: start; }
        .footer .footerContainer .block1 .container1 .nav-item-text-logo, .footer .footerContainer .block2 .container1 .nav-item-text-logo, .footer .footerContainer .block3 .container1 .nav-item-text-logo {
          color: #f3f3f3;
          font-family: 'Montserrat Light', sans-serif;
          font-size: 24pt;
          vertical-align: middle; }
        .footer .footerContainer .block1 .container1 .footerTitle, .footer .footerContainer .block2 .container1 .footerTitle, .footer .footerContainer .block3 .container1 .footerTitle {
          font-family: 'Raleway Extra Bold', sans-serif;
          font-size: 16pt;
          color: white; }
      .footer .footerContainer .block1 .container2, .footer .footerContainer .block2 .container2, .footer .footerContainer .block3 .container2 {
        padding-top: 10%;
        padding-bottom: 10%;
        text-align: justify;
        font-family: 'Montserrat Light', sans-serif;
        color: #555555;
        font-size: 9pt; }
        .footer .footerContainer .block1 .container2 h4, .footer .footerContainer .block2 .container2 h4, .footer .footerContainer .block3 .container2 h4 {
          color: #393939;
          font-size: 8pt; }
      .footer .footerContainer .block1 .container3, .footer .footerContainer .block2 .container3, .footer .footerContainer .block3 .container3 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        width: 40%;
        -ms-flex-pack: distribute;
        justify-content: space-around; }
        .footer .footerContainer .block1 .container3 h6, .footer .footerContainer .block2 .container3 h6, .footer .footerContainer .block3 .container3 h6 {
          font-family: 'Montserrat Light', sans-serif;
          font-size: 9pt;
          color: #bfb098; }
    .footer .footerContainer .block2 .container1, .footer .footerContainer .block3 .container1 {
      margin-top: 10%; }
    .footer .footerContainer .block2 .container2, .footer .footerContainer .block3 .container2 {
      border-bottom: 1px solid #555555; }
      .footer .footerContainer .block2 .container2 span, .footer .footerContainer .block3 .container2 span {
        color: #6bbef1; }
    .footer .footerContainer .block2 .container2:hover, .footer .footerContainer .block3 .container2:hover {
      border-bottom: 1px solid #787878;
      color: #bfb098; }
      .footer .footerContainer .block2 .container2:hover span, .footer .footerContainer .block3 .container2:hover span {
        color: #bfb098; }
      .footer .footerContainer .block2 .container2:hover h4, .footer .footerContainer .block3 .container2:hover h4 {
        color: white; }
    .footer .footerContainer .block4 {
      width: 25%;
      padding: 0px;
      margin: 0px; }
      .footer .footerContainer .block4 .container1 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-top: 8%;
        margin-bottom: 8%; }
        .footer .footerContainer .block4 .container1 .footerTitle {
          font-family: 'Raleway Extra Bold', sans-serif;
          font-size: 16pt;
          color: white; }
      .footer .footerContainer .block4 .container2 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -ms-flex-pack: distribute;
        justify-content: space-around; }
        .footer .footerContainer .block4 .container2 img {
          width: 100%; }
