* {
  margin: 0px;
  padding: 0px; }

@font-face {
  font-family: 'Montserrat Light';
  src: url("../fonts/Montserrat-Light.eot");
  src: url("Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Raleway Regular';
  src: url("../fonts/Raleway-Regular.eot");
  src: url("../fonts/Raleway-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Raleway Medium';
  src: url("../fonts/Raleway-Medium.eot");
  src: url("../fonts/Raleway-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Medium.woff") format("woff"), url("../fonts/Raleway-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Raleway Extra Bold';
  src: url("../fonts/Raleway-ExtraBold.eot");
  src: url("../fonts/Raleway-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-ExtraBold.woff") format("woff"), url("../fonts/Raleway-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat Extra Light';
  src: url("../fonts/Montserrat-ExtraLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

* {
  margin: 0px;
  padding: 0px; }

.mainPageGalery img {
  z-index: -1;
  width: 100%;
  position: absolute;
  bottom: 1px;
  -webkit-transition: 10ms;
  -o-transition: 10ms;
  transition: 10ms; }

.logo-container, .right-container {
  background-color: rgba(0, 0, 0, 0);
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.logo-container {
  margin-right: 10%; }

.right-container {
  margin-left: 5%;
  width: 75px;
  max-height: 30px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.container {
  width: 60%;
  margin-left: 20%;
  height: 100px;
  background-color: rgba(0, 0, 0, 0);
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .container .nav-item {
    color: #f3f3f3;
    font-family: 'Montserrat Light', sans-serif;
    font-size: 10pt; }
    .container .nav-item #emptySpace {
      -ms-flex-preferred-size: 160px;
      flex-basis: 160px;
      -ms-flex-negative: 0;
      flex-shrink: 0; }
  .container .nav-item-text-logo {
    color: #f3f3f3;
    font-family: 'Montserrat Light', sans-serif;
    font-size: 24pt;
    vertical-align: middle; }

.radiobar {
  margin-left: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  width: 4%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }
  .radiobar .galery-radio {
    padding-right: 3%; }

.mainBlock {
  width: 80%;
  margin-top: 12%;
  margin-left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .mainBlock #left_arrow, .mainBlock #right_arrow {
    width: 40px;
    height: 80px;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Montserrat Light', sans-serif;
    font-size: 52pt;
    color: rgba(255, 255, 255, 0.3);
    border: none; }
  .mainBlock .text-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .mainBlock .text-container .text-item-first {
      color: #ffffff;
      font-family: 'Raleway Medium', sans-serif;
      font-size: 22pt; }
    .mainBlock .text-container .text-item-second {
      color: #ffffff;
      font-family: 'Raleway Extra Bold', sans-serif;
      font-size: 36pt; }
    .mainBlock .text-container .text-item-third {
      text-align: center;
      color: #ffffff;
      font-family: 'Montserrat Light', sans-serif;
      font-size: 10pt; }
    .mainBlock .text-container .getStarted {
      margin-top: 4%;
      background-color: #928575;
      color: #ffffff;
      -webkit-box-shadow: none;
      box-shadow: none;
      border: 0px;
      border-bottom-style: 3px solid grey;
      width: 140px;
      height: 33px;
      font-family: 'Raleway Extra Bold', sans-serif;
      font-size: 8pt;
      border-radius: 3px; }

.secondPageUpperContainer {
  margin-top: 13%;
  width: 60%;
  height: 255px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  margin-left: 20%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .secondPageUpperContainer .block1, .secondPageUpperContainer .block2, .secondPageUpperContainer .block3, .secondPageUpperContainer .block4 {
    text-align: center;
    vertical-align: middle;
    font-family: 'Montserrat Light', sans-serif;
    font-size: 8pt; }
    .secondPageUpperContainer .block1 h4, .secondPageUpperContainer .block2 h4, .secondPageUpperContainer .block3 h4, .secondPageUpperContainer .block4 h4 {
      font-family: 'Raleway Extra Bold', sans-serif;
      font-size: 14pt; }
    .secondPageUpperContainer .block1 .SecondPageIcon, .secondPageUpperContainer .block2 .SecondPageIcon, .secondPageUpperContainer .block3 .SecondPageIcon, .secondPageUpperContainer .block4 .SecondPageIcon {
      height: 44px; }

.secondPageMiddleContainer {
  margin: 0%;
  background-color: #fbfaf8;
  height: 450px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  vertical-align: middle; }
  .secondPageMiddleContainer .text {
    vertical-align: middle;
    width: 60%;
    margin-right: 20%;
    height: 115px;
    text-align: center;
    font-family: 'Montserrat Light', sans-serif;
    font-size: 8pt; }
    .secondPageMiddleContainer .text h4 {
      font-family: 'Montserrat Light', sans-serif;
      font-size: 16pt; }
  .secondPageMiddleContainer .browsers {
    height: 385px;
    width: 60%;
    margin-right: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
    .secondPageMiddleContainer .browsers #leftBrowserImg {
      width: 62%;
      z-index: 2;
      position: relative;
      left: 43%; }
    .secondPageMiddleContainer .browsers #centerBrowserImg {
      width: 62%;
      position: relative;
      z-index: 4; }
    .secondPageMiddleContainer .browsers #rightBrowserImg {
      width: 62%;
      z-index: 3;
      position: relative;
      right: 43%; }

.secondPageBottomContainer {
  background: -webkit-gradient(linear, left top, right top, from(#1e1b1a), to(#49372c));
  background: -webkit-linear-gradient(left, #1e1b1a, #49372c);
  background: -o-linear-gradient(left, #1e1b1a, #49372c);
  background: linear-gradient(to right, #1e1b1a, #49372c);
  height: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .secondPageBottomContainer .subContainer {
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: black; }
    .secondPageBottomContainer .subContainer .text {
      text-align: center;
      font-family: 'Montserrat Light', sans-serif;
      font-size: 8pt;
      color: #5f5856; }
      .secondPageBottomContainer .subContainer .text h4 {
        font-family: 'Montserrat Light', sans-serif;
        font-size: 16pt;
        color: white; }
        .secondPageBottomContainer .subContainer .text h4 span {
          color: #5f5856; }
    .secondPageBottomContainer .subContainer .purchaseNow {
      margin-top: 4%;
      background-color: #928575;
      color: #ffffff;
      -webkit-box-shadow: none;
      box-shadow: none;
      border: 0px;
      border-bottom-style: 3px solid grey;
      width: 140px;
      height: 33px;
      font-family: 'Raleway Extra Bold', sans-serif;
      font-size: 8pt;
      border-radius: 3px; }

.thirdPageContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .thirdPageContainer .thirdPageUpperContainer {
    width: 33%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .thirdPageContainer .thirdPageUpperContainer .text {
      text-align: center;
      font-family: 'Montserrat Light', sans-serif;
      font-size: 8pt;
      color: #5f5856; }
      .thirdPageContainer .thirdPageUpperContainer .text h4 {
        font-family: 'Montserrat Light', sans-serif;
        font-size: 16pt;
        color: white; }
        .thirdPageContainer .thirdPageUpperContainer .text h4 span {
          color: #5f5856; }
    .thirdPageContainer .thirdPageUpperContainer .text h4 {
      color: black; }
  .thirdPageContainer .thirdPageButtonsBarContainer {
    width: 30%;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .thirdPageContainer .thirdPageButtonsBarContainer .button {
      background-color: white;
      border: 1px solid #ebebeb;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 2px;
      color: #938575;
      font-family: 'Montserrat Light', sans-serif;
      font-size: 10pt; }
    .thirdPageContainer .thirdPageButtonsBarContainer .button:hover {
      background-color: #938575;
      border: 1px solid #ebebeb;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 2px;
      color: white;
      font-family: 'Montserrat Light', sans-serif;
      font-size: 10pt; }
  .thirdPageContainer .thirdPageGallery {
    height: 580px;
    width: 65%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    margin: 0; }
    .thirdPageContainer .thirdPageGallery .galleryImg {
      height: 192px;
      background-color: #000000; }
      .thirdPageContainer .thirdPageGallery .galleryImg img {
        width: 300px; }
      .thirdPageContainer .thirdPageGallery .galleryImg .block {
        width: 300px;
        height: 80px;
        background-color: #fbfaf8;
        color: #bfb098;
        text-align: center;
        font-family: 'Montserrat Light', sans-serif;
        font-size: 10pt; }
        .thirdPageContainer .thirdPageGallery .galleryImg .block h5 {
          font-family: 'Raleway Medium', sans-serif;
          font-size: 14pt; }
    .thirdPageContainer .thirdPageGallery .galleryImg:hover img {
      opacity: 0.8; }
    .thirdPageContainer .thirdPageGallery .galleryImg:hover .block {
      background-color: #373331;
      color: #bfb098; }
      .thirdPageContainer .thirdPageGallery .galleryImg:hover .block h5 {
        color: white; }
  .thirdPageContainer .thirdPageBottomContainer {
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: stretch;
    align-content: stretch; }
    .thirdPageContainer .thirdPageBottomContainer .thirdPageButton {
      margin-top: 4%;
      background-color: #928575;
      color: #ffffff;
      -webkit-box-shadow: none;
      box-shadow: none;
      border: 0px;
      border-bottom-style: 3px solid grey;
      width: 140px;
      height: 33px;
      font-family: 'Raleway Extra Bold', sans-serif;
      font-size: 8pt;
      border-radius: 3px; }

.fourthPageContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative; }
  .fourthPageContainer .textVideoContainer {
    position: absolute;
    z-index: 2;
    top: 50%;
    right: 50%;
    -webkit-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    font-family: 'Raleway Extra Bold', sans-serif;
    font-size: 36pt;
    color: white; }

.fifthPageContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  width: 70%;
  margin-left: 15%;
  height: 650px;
  position: relative;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .fifthPageContainer .fifthPageImg {
    width: 45%; }
  .fifthPageContainer .fifthPageText {
    width: 55%;
    font-family: 'Montserrat Light', sans-serif;
    font-size: 12pt; }
    .fifthPageContainer .fifthPageText h5 {
      font-family: 'Montserrat Light', sans-serif;
      font-size: 24pt;
      color: black; }
    .fifthPageContainer .fifthPageText ul {
      list-style-image: url(https://lh3.googleusercontent.com/qenmftUKhcPtbQspCKK9R85HG6zDIn-lp0XuXD4mdb3ZI3BTymB8e1rzmzG3YlUauRgf9Qg=s21); }
      .fifthPageContainer .fifthPageText ul li {
        margin-bottom: 1%;
        margin-left: 5%; }

.fifthPageFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  width: 100%;
  height: 200px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(#1e1b1a), to(#49372c));
  background: -webkit-linear-gradient(left, #1e1b1a, #49372c);
  background: -o-linear-gradient(left, #1e1b1a, #49372c);
  background: linear-gradient(to right, #1e1b1a, #49372c); }
  .fifthPageFooter .block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    font-family: 'Raleway Extra Bold', sans-serif;
    font-size: 8pt;
    color: #bfb098; }
    .fifthPageFooter .block h5 {
      font-family: 'Montserrat Extra Light', sans-serif;
      font-size: 26pt;
      font-weight: 100;
      color: white; }
