*{
    margin: 0px;
    padding: 0px;
}

.firstPage{
    display: inline-block;
    width: 100%;

    .firstPageContainer{
        height: 100vh;
        position: relative;
        width: 100%;
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        align-items: center;
        background-image: url(../../img/photo.png);
        background-size: cover;

        .container{

            a{
                text-decoration: none;
            }
            
            background-color: rgba($color: #000000, $alpha: 0.0);
            z-index: 2;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;
            
            .nav-item-text-logo{
                @include logoStyles;
            }

            @media screen and (orientation: portrait){
                margin-top: 1%;
            }

            @media screen and (orientation: landscape){
                margin-top: 7%;
            }

            @media screen and (max-width: $screen_medium_to){
                .logo-container{
                    order: 1; 
                }
                .center-Container{
                    order: 0;
                    position: relative;
                    display: inline-block;
                    
                }
                .right-container{
                    order: 2;
                }

                .burger-menu{
                    
                    .burgerMenuButton{
                        padding: 0px;
                        margin: 0px;
                        display: block;
                        width: 70px;
                        height: 70px;
                        border-radius: 50%;
                        background-color: white;
                        position: relative;
                        z-index: 2;

                        span{
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,50%);
                        }

                        span,span::before,span::after{
                            display: block;
                            width: 20px;
                            height: 2px;
                            padding: 0px;
                            margin: 0px;
                            position: absolute;
                            background-color:black;

                        }

                        span::before{
                            padding: 0px;
                            margin: 0px;    
                            transform: translateY(-5px);
                        }

                        span::after{
                            padding: 0px;
                            margin: 0px;
                            transform: translateY(5px);
                        }

                        span::before,span::after{
                            
                            content: '';
                            transition: 0.5s;
                        }
                        
                    }
                    .burgerMenuButton_active{

                        span{
                            height: 0px; 
                        }

                        span::before{
                            transform: rotate(45deg);                          
                        }

                        span::after{
                            transform: rotate(-45deg);                            
                        }
                    }
                }

                .navMenu{
                    position: absolute;
                    display: flex;
                    top: 0px;
                    z-index: 1;
                    padding-top: 50px;
                    height: 300px;
                    width: 150px;
                    border-radius: 25px;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    background-color: $navbar-color;
                    transition: 0.5s;
                    transform-origin: top left;
                    transform: scale(0);
                    opacity: 0; 

                    a{
                        color: black;
                        @include Light;
                        font-size: 12pt;
                    }
                }

                .navMenu_active{
                    transform: scale(1);
                    opacity: 1;
                }
            }
            
            @media screen and (max-width: $screen_medium_to){
                width:90%;
                a{
                    color: $navbar-color;
                    @include Light;
                    font-size: 8pt;
                }
                
            }

            @media screen and (min-width: $screen_large_from){
                width:90%;

                .center-Container{
                    width: 60%;
                    .navMenu{
                        display: flex;
                        flex-flow: row nowrap;
                        width: 100%;
                        justify-content: space-between;
                    }
                }

                a{
                    color: $navbar-color;
                    @include Light;
                    font-size: 10pt;
                }

            }

            @media screen and (min-width: $screen_large_to){
                width:80%;

                a{
                    color: $navbar-color;
                    @include Light;
                    font-size: 12pt;
                }
                
            }            
                
            .logo-container, .right-container, .center-Container{

                background-color: rgba($color: #000000, $alpha: 0.0);
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
            }

            .logo-container{
                width: 20%;
            }          

            .right-container{
                
                width: 7%;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;

                .busketImg{
                    width: 100%;
                }
            }
        }        

        .radiobar{
            
            margin-bottom: 7%;
            display: flex;
            margin-top: 7%;
            width: 4%;
            flex-flow: row;
            justify-content: space-between;
            align-items: flex-end;
            .galery-radio{
                padding-right: 3%
            }
        }

        .mainBlock{
            width: 100%;
            margin-top: 10%;
            margin-bottom: 10%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            align-items: center;

            #left_arrow, #right_arrow{
            width: 100%;
            height: 100%;
            background-color: rgba($color: #000000, $alpha: 0.0);
            @include Light;
            font-size: 52pt;
            color: rgba($color: #ffffff, $alpha: 0.3);
            border: none;
            }

            .text-container{
                width: 60%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                
                .text-item-first{
                    text-align: center;
                    color: $mainPageText-color;
                    @include Medium;
                    font-size: 22pt;
                }
                .text-item-second{
                    text-align: center;
                    color: $mainPageText-color;
                    @include ExtraBold;
                    font-size: 36pt;
                }
                .text-item-third{
                    text-align: center;
                    text-align: center;
                    color: $mainPageText-color;
                    @include Light;
                    font-size: 10pt;
                }
                .getStarted{
                    @include button;
                }        
            }
        }
    }
}