

// -------------------------------------------------------------------

.secondPageUpperContainer{
    
    width:60%;
    // height: 255px;
    display: flex;
    flex-flow: row nowrap;
    margin-left: 20%;
    margin-bottom: 3%;
    margin-top: 3%;
    justify-content: space-between;
    align-items: center;
    
    .block1, .block2, .block3, .block4{
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        @include Light;
        font-size: 8pt;

        h4{
            @include ExtraBold;
            font-size: 14pt;
        }

        .SecondPageIcon{
            height: 44px;
          
        }
    }
}

.secondPageMiddleContainer{
    display: inline-block;
    width:100%;
    margin: 0%;
    background-color: #fbfaf8;

    .block{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: flex-end;
        vertical-align: middle;
    }
    
    .upBlock{
        display: inline-block;
        width:60%;
        margin-right: 20%;
    
        .text{
            vertical-align: middle;
            
            // height: 115px;
            text-align: center;
            @include Light;
            font-size: 8pt;
            h4{
                @include Light;
                font-size: 16pt;
            }
        }
    }

    .downBlock{
        display: inline-block;
        width:60%;
        margin-right: 20%;

        .browsers{
            // height: 385px;
            
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: flex-end;
        
            #leftBrowserImg{
                width: 62%;
                // flex-basis: 770px;
                z-index: 2;
                position: relative;
                left: 43%;
            }
            #centerBrowserImg{
                width: 62%;
                // flex-basis: 770px;
                position: relative;
                z-index: 4;
            }
            #rightBrowserImg{
                width: 62%;
                // flex-basis: 770px;
                z-index: 3;
                position: relative;
                right: 43%;
            }
        }
    }
}


.secondPageBottomContainer{
    @include background-gradient;
    height: 100px;
    width:100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    .subContainer{
        width:60%;
        display: flex;
        justify-content: space-between;
        color: black;
        @include textPageContainer;
        .purchaseNow{
            @include button;
        }
    }
}

// -------------------------------------------------------------------

.thirdPageContainer{
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    
    .thirdPageUpperContainer{
    // border: 1px solid black;
    width: 33%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    @include textPageContainer;
    .text h4{
        color: black;
    }
    }

    .thirdPageButtonsBarContainer{
    // border: 1px solid black;
    width: 40%;
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    
        .button{
        background-color: white;
        border: 1px solid #ebebeb;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 2px;
        color: #938575;
        @include Light;
        font-size: 10pt;
        }

        .button:hover{
        background-color:  #938575;
        border: 1px solid #ebebeb;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 2px;
        color: white;
        @include Light;
        font-size: 10pt;
        }

        @media (min-width: $screen_large_from) {
            .thirdPageButtonsBarContainer{
                width: 30%;
                height: 100px;
            }
        }

        @media (max-width: 1250px){
            .thirdPageButtonsBarContainer{
                width: 10%;
                height: 150px;
            }  
        }
    }

    .thirdPageGallery{
        display: inline-block;
        width: 65%;
        margin: 0;

        .blockContainer{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-content: stretch;
        
            .galleryImg{
                margin-bottom: 5%;
                width: 30%;
                background-color:white;
                img{
                    width: 100%;
                }

                .block{
                    width: 100%;
                    padding: 10%, 0, 10%, 0; 
                    background-color: #fbfaf8;
                    color: $brownText-color;
                    text-align: center;
                    @include Light;
                    font-size: 10pt;

                    h5{
                        @include Medium;
                        font-size: 14pt;
                    }
                }
            }

            .galleryImg:hover{

                background-color: #000000;
                img{
                    opacity: 0.8;
                }
                .block{
                    background-color: #373331;
                    color: $brownText-color;

                    h5{
                        color: white;
                    }
                }
            }
        }
    }

    .thirdPageBottomContainer{
        height: 60px;
        display: flex;
        justify-content: center;
        align-content: stretch;

        .thirdPageButton{
            @include button;
        }
    }
}


// -------------------------------------------------------------------

.fourthPageContainer{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    position: relative;
    
        
    .textVideoContainer{
        position: absolute;
        z-index: 2;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        
        @include ExtraBold;
        font-size: 36pt;
        color: white;
    }
}

.fifthPageContainer{
    display: inline-block;
    width: 70%;
    margin-left: 15%;

    .block{
   
        display: flex;
        flex-flow: row nowrap;
        position: relative;
        justify-content: center;
        align-items: center;

        .fifthPageImg{
            width: 45%;
            img{
                width: 100%;
            }
        }

        .fifthPageText{
            width: 55%;
            @include Light;
            font-size: 12pt;
        

            h5{
                @include Light;
                font-size: 24pt;
                color: black;
            }

            ul{
                list-style-image: url(https://lh3.googleusercontent.com/qenmftUKhcPtbQspCKK9R85HG6zDIn-lp0XuXD4mdb3ZI3BTymB8e1rzmzG3YlUauRgf9Qg=s21);
                
                li{
                    margin-bottom: 1%;
                    margin-left: 5%;
                }
            


            }
        }
    }
}


.fifthPageFooter{
    display: inline-block;
    width: 100%;

    .blockContainer{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        @include background-gradient;
    
        .block{
            padding: 15%, 0, 15%, 0;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;
            width: 15%;

            .top{
                padding-top: 20%;
            }

            .bottom{
                padding-bottom: 20%;
            }
        
            @include ExtraBold;
            font-size: 8pt;
            color: $brownText-color;
        
            h5{
                @include Light;
                font-size: 26pt;
                font-weight: 100;
                color: white;
            }
        
        }
    }
}

.sixthPage{
    display: inline-block;
    width: 100%;
    padding: 0px;
    margin: 0px;

    .sixthPageContainer{
        width: 100%;
        // height: 655px;
        display: flex;
        flex-flow: column;
        align-items: center;
        margin-bottom: 0px;
        justify-content: space-around;

        .sixthPageTextContainer{
            margin-top: 5%;
            margin-bottom: 5%;
            width: 50%;
            text-align: center;
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: space-between;
            @include Light;
            font-size: 12pt;
            color: #8c8c8c;

            h5{
                @include ExtraBold;
                font-size: 20pt;
                color:black;
            }
        }

        .sixthPagePostsContainer{
            margin-bottom: 5%;
            width: 70%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            
            .block:hover{
                background-color:black;

                .blockImg{
                    opacity: 0.6;
                }
                

                .blockText{
                    background-color: #373331;
                    
                    h4{
                        color: $brownText-color
                    }

                    h5{
                        color: white;
                    }

                    h6{
                        color: $brownText-color
                    }
                }
            }
            

            .block{
                padding: 0px;
                margin: 0px;
                background-color: white;
                display: flex;
                flex-flow: row nowrap;
                width: 30%;
                border: 1px lightgray solid;
                align-items: flex-start;

                .blockUpper{

                position: relative;
                padding: 0px;
                            
                    img{
                        width: 100%;
                    }

                    .calendar{
                        position: absolute;
                        left: 15px;
                        top: 15px;
                        display: flex;
                        flex-flow: column;
                        border-radius: 5px;
                        
                        color: white;

                        .bg1{
                            position: relative;
                            filter: grayscale(100%);
                            .date{
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%,-50%);
                            }
                        }

                        .bg2{
                            position: relative;
                            
                            filter: grayscale(100%);
                            .month{
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%,-50%);
                            }
                        }
                    }
                }

                

                .blockText{
                    // height: 175px;
                    display: flex;
                    flex-flow: column;
                    justify-content: space-around;
                    align-items: center;
                    background-color: white;
                    padding: 5%;
                
                    h4{
                        @include Medium;
                        font-size: 14pt;
                        color: black;
                    }

                
                    h5{
                        @include Light;
                        font-size: 10pt;
                        color: #8c8c8c;
                    }

                    h6{
                        @include Light;
                        font-size: 10pt;
                        color: $brownText-color;
                    }

                    .arrow{
                        width: 40%;
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: space-around;
                    }
                }

                
            }

        }

        .sixthPageButtonsContainer{
            margin-bottom: 5%;
            display: flex;
            flex-flow: row;
            width: 5%;
            align-items: center;
            justify-content: space-between;

            .right{
                opacity: 0.6;
            }

            .left{
                opacity: 0.6;
            }

            
        }

        
    }

    .sixthPageFooter{
        
        display: inline-block;
        width: 100%;
        margin: 0px;
        padding: 0px;
   
        .sixthPageBottomContainer{
            background-color: #1f1f1f;
            display: inline-block;
            position: relative;
            padding-bottom: 0px;
            margin-bottom: 0px;
            
            img{
                width: 100%;
            }

            .logoContainer{
                width: 70%;
                margin-right: 15%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;
                
                div{
                    
                    text-align: center;
                    img{
                        width: 60%;
                    }
                
                }

                
            }

        }
    }
}