@mixin button {
    margin-top: 4%;
    background-color: $buttonBackground-color;
    color: $mainPageTextButton-color;
    box-shadow: none;
    border: 0px;
    border-bottom-style: 3px solid grey;
    width: 140px;
    height: 33px;
    @include ExtraBold;
    font-size: 8pt;
    border-radius: 3px;
}

@mixin textPageContainer {
    .text{
        text-align: center;
        @include Light;
        font-size: 8pt;
        color: #5f5856;
        h4{
            @include Light;
            font-size: 16pt;
            color: white;
            span{
                color: #5f5856;
            }
        } 
    }
    
}

@mixin background-gradient{
    background: linear-gradient(to right, #1e1b1a, #49372c);
}