*{
    margin: 0px;
    padding: 0px;
}

.firstPage{
    display: inline-block;
    width: 100%;

    .firstPageContainer{
        height: 100vh;
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-flow: column;
        background-image: url(../../img/photo.png);
        background-size: cover;

        .container{
            
            // width:70%;
            // margin-top: 1%;
            // margin-bottom: 1%;
            // margin-left: 20%;
            // height:100px;
            background-color: rgba($color: #000000, $alpha: 0.0);
            z-index: 2;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;
            

            @media screen and (max-width: $screen_medium_to){
                width:80%;
                .burger-menu{
                    order: 0;
                    .burgerMenuButton{
                        padding: 0px;
                        margin: 0px;
                        display: block;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        background-color: white;
                        position: relative;

                        span{
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,50%);
                        }

                        span,span::before,span::after{
                            display: block;
                            width: 20px;
                            height: 2px;
                            padding: 0px;
                            margin: 0px;
                            position: absolute;
                            background-color:black;

                        }

                        span::before{
                            padding: 0px;
                            margin: 0px;    
                            transform: translateY(-5px);
                        }

                        span::after{
                            padding: 0px;
                            margin: 0px;
                            transform: translateY(5px);
                        }

                        span::before,span::after{
                            // transform: translate(-50%,50%);
                            content: '';
                            transition: 0.5s;
                        }

                        
                    }
                    .burgerMenuButton_active{

                        span{
                            height: 0px;                    }

                        span::before{
                            transform: rotate(45deg);
                            
                        }

                        span::after{
                            transform: rotate(-45deg);
                            
                        }
                    }
                }
            }
            
            @media screen and (max-width: $screen_medium_to){
                width:90%;
                .nav-item{
                    color: $navbar-color;
                    @include Light;
                    font-size: 8pt;
                }
            }

            @media screen and (min-width: $screen_large_from){
                width:90%;
                .nav-item{
                    color: $navbar-color;
                    @include Light;
                    font-size: 10pt;
                }
            }

            @media screen and (min-width: $screen_large_to){
                width:80%;
            }

            .nav-item{
                color: $navbar-color;
                @include Light;
                font-size: 10pt;
            }

            .nav-item-text-logo{
                @include logoStyles;
            }
                
            .logo-container, .right-container, .center-Container{
                background-color: rgba($color: #000000, $alpha: 0.0);
                // z-index: 2;
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
            }

            .logo-container{
                width: 20%;
            }

            .center-Container{
               
            
                
                
            }

            @media screen and (min-width: $screen_large_from){
                
                .center-Container{
                    width: 60%;
                    .navMenu{
                        display: flex;
                        flex-flow: row nowrap;
                        width: 100%;
                        justify-content: space-between;
                    }
                }
            }

            @media screen and (max-width: $screen_medium_to){
                .center-Container{
                    width: 30%;
                    .navMenu{
                        display: flex;
                        flex-flow: column nowrap;
                        width: 100%;
                        justify-content: center;
                        align-content: space-around;
                    }
                }
            }
            

            .right-container{
                // margin-left: 5%;
                width: 7%;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;

                .busketImg{
                    width: 100%;
                }
            }
        }

        

        .radiobar{
            // margin-left: 48%;
            margin-bottom: 7%;
            display: flex;
            margin-top: 7%;
            width: 4%;
            flex-flow: row;
            justify-content: space-between;
            align-items: flex-end;
            .galery-radio{
                padding-right: 3%
            }
        }

        .mainBlock{
            width: 100%;
            margin-top: 10%;
            margin-bottom: 10%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            align-items: center;

            #left_arrow, #right_arrow{
            width: 100%;
            height: 100%;
            background-color: rgba($color: #000000, $alpha: 0.0);
            @include Light;
            font-size: 52pt;
            color: rgba($color: #ffffff, $alpha: 0.3);
            border: none;
            }

            .text-container{
                width: 60%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                
                .text-item-first{
                    color: $mainPageText-color;
                    @include Medium;
                    font-size: 22pt;
                }
                .text-item-second{
                    color: $mainPageText-color;
                    @include ExtraBold;
                    font-size: 36pt;
                }
                .text-item-third{
                    text-align: center;
                    color: $mainPageText-color;
                    @include Light;
                    font-size: 10pt;
                }
                .getStarted{
                    @include button;
                }        
            }
        }
    }
}