*{
    margin: 0px;
    padding: 0px;
}

.firstPage{
    display: inline-block;
    width: 100%;

    .firstPageContainer{
        
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-flow: column;


        .mainPageGalery{
            display: inline-block;
            width: 100%;
            position: absolute;
            top: 0%;
            z-index: -1;
            img{
                width: 100%;
                transition: 10ms;
            }
        }

        .logo-container, .right-container, .center-Container{
            background-color: rgba($color: #000000, $alpha: 0.0);
            // z-index: 2;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
        }

        .logo-container{
            width: 20%;
        }

        .center-Container{
            display: flex;
            flex-flow: row nowrap;
            width: 60%;
            justify-content: space-between;
        }

        .right-container{
            // margin-left: 5%;
            width: 7%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;

            .busketImg{
                width: 100%;
            }
        }

        .container{
            width:70%;
            margin-top: 1%;
            margin-bottom: 1%;
            // margin-left: 20%;
            // height:100px;
            background-color: rgba($color: #000000, $alpha: 0.0);
            z-index: 2;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;
            .nav-item{
                color: $navbar-color;
                @include Light;
                font-size: 10pt;
                #emptySpace{
                    flex-basis: 160px;
                    flex-shrink: 0;
                }
            }
            .nav-item-text-logo{
                @include logoStyles;
            }
                
        }

        .radiobar{
            // margin-left: 48%;
            margin-bottom: 7%;
            display: flex;
            margin-top: 7%;
            width: 4%;
            flex-flow: row;
            justify-content: space-between;
            align-items: flex-end;
            .galery-radio{
                padding-right: 3%
            }
        }

        .mainBlock{
            width: 100%;
            margin-top: 10%;
            margin-bottom: 10%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            align-items: center;

            #left_arrow, #right_arrow{
            width: 100%;
            height: 100%;
            background-color: rgba($color: #000000, $alpha: 0.0);
            @include Light;
            font-size: 52pt;
            color: rgba($color: #ffffff, $alpha: 0.3);
            border: none;
            }

            .text-container{
                width: 60%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                
                .text-item-first{
                    color: $mainPageText-color;
                    @include Medium;
                    font-size: 22pt;
                }
                .text-item-second{
                    color: $mainPageText-color;
                    @include ExtraBold;
                    font-size: 36pt;
                }
                .text-item-third{
                    text-align: center;
                    color: $mainPageText-color;
                    @include Light;
                    font-size: 10pt;
                }
                .getStarted{
                    @include button;
                }        
            }
        }
    }
}