$screen_small_from:576px;
$screen_small_to: 767px;

$screen_medium_from: 768px;
$screen_medium_to: 991px;

$screen_large_from: 992px;
$screen_large_to:   1199px;

$screen_extraLarge_from: 1200px;
// $screen_extraLarge_to:

